<div style="background-color: #81F7D8;border-color: #000000">
       <div align="center">
	       <table>
	       <caption>Registrarse</caption>
	       	<tr>
		       <td><label for="nombreUsuario">Nombre Usuario :</label></td>
		       <td><input name="nombreUsuario"   type="text" ng-model="formAgregar.nombreUsuario"></td>
	       	</tr>
	       	<tr>
		       <td><label for="password">Password :</label></td>
		       <td><input name="password"   type="password" ng-model="formAgregar.password"></td>
	       	</tr>
	       	<tr>
		       <td><label for="nombre">Nombre :</label></td>
		       <td><input name="nombre" type="text" ng-model="formAgregar.nombre"></td>
	       	</tr>
	       	<tr>
		       <td><label for="apellido">Apellido</label></td>
		       <td><input name="apellido" type="text" ng-model="formAgregar.apellido"></td>
	       	</tr>
	       	<tr>
		       <td><button ng-click="save()">Guardar</button></td>
		       <td><button onclick="window.history.back()">Atras</button></td>
	       	</tr>
	       </table>
       </div>
</div>