<div style="background-color: #81F7D8;border-color: #000000">
       <div align="center">
	       <table>
	       <caption>Inicio Sesion</caption>
	       	<tr>
		       <td><label for="nombreUsuario">Nombre Usuario :</label></td>
		       <td><input name="nombreUsuario"   type="text" ng-model="formInicio.nombreUsuario"></td>
	       	</tr>
	       	<tr>
		       <td><label for="password">Password :</label></td>
		       <td><input name="password"   type="password" ng-model="formInicio.password"></td>
	       	</tr>
	       	<tr>
		       <td><button ng-click="iniciosesion(formInicio)">Iniciar Sesion</button></td>
		       <td><button onclick="window.history.back()">Atras</button></td>
	       	</tr>
	       </table>
       </div>
</div>